body{
    background-color: #ffc0cb;
    padding: 0px;
    margin: 0px;
}
#navbar{
    border: 10px;
    background-color: darkorchid ;
    height: 50px;
    display: flex;
    position:fixed;
    width: 1550px; 
}
a{
    padding-right: 133px;
    text-decoration: none;
    color: aliceblue;
    padding-left: 155px;
    font-size: 20px;
    justify-content: center;
    padding-top: 10px;    
}
.bakery {
    padding-top: 54px;
    padding-left: 100px;
    height: 700px;
    width: 1300px;
}
.text{
    text-align: center;
    color:darkblue;
    font-size: 40px;
}
.quote
{
    color: black;
    text-align: center;
    font-size: 60px;
}
.img1{
    padding-left: 150px;
    height: 600px;
    width: 1200px;
}
.matter{
    font-size: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.caption{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:navy;
}
.sweet{
    border-radius: 20%;
    height: 400px;
    width: 500px;
    margin-left: 240px;
}
.cake{
    border-radius: 20%;
    height: 400px;
    width: 500px;
    margin-left: 30px;
}
.choco{
    border-radius: 20%;
    height: 400px;
    width: 500px;
    margin-left: 240px;
}
.cokies{
    border-radius: 20%;
    margin-left: 30px;
    height: 400px;
    width: 500px;
}
.titleline{
    text-align: center;
    font-size: 40px;
    color:cornflowerblue;
    font-weight: bold;
}
.button{
    background-color: steelblue;
    display: block;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
}
.product{
    text-align: center;
    font-size: 50px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.shop-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.shop-items li {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shop-items img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.shop-items h3 {
    margin: 0;
    padding: 10px;
}

.shop-items p {
    margin: 0;
    padding: 10px;
    color: #666;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}
.caption1{
    text-align: center;
    font-size: 100px;
}
.caption2{
padding-left: 1000px;
    font-size: 25px;
    font-style: oblique;
}
.overview{
    text-align: center;
    font-size: 50px;
}
.overview1{
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
    font-size: 30px;

}
.service{
    text-align: center;
    font-size: 50px;

}
.service1{
    padding-left: 160px;
    padding-right: 50px;
    font-size: 30px;
}
.cakeimg{
    margin-left: 230px;
    height: 750px;
    width: 1100px;
    border-radius: 10%;
}
.bakeryquote{
    padding-left: 210px;
    padding-right: 210px;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    font-weight: lighter;
    font-weight:500;
    
}
.best{
    text-align: center;
    font-size: 60px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.h1{
    font-size: 60px;
}
.shop-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.shop-items li {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shop-items img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.shop-items h3 {
    margin: 0;
    text-align: center;
}

.shop-items p {
    margin: 0;
    text-align: center;
    color: #666;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}
.caption3{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 60px;
    font-style: italic;
    text-align: center;
}
footer{
    background-color:turquoise;
}
.world{
    text-align: center;
    font-size: 60px;
    font-style: oblique;
}
.life{
    padding-left: 300px;
    padding-right: 300px;
    font-size: 30px;
    font-style: italic;
}
.h2{
    text-align: center;
}
.detials{text-align: center;
    font-size: 20px;
}
.follow{
    text-align: center;
}
.icon1{
    padding-left: 200px;
    height: 45x;
    width: 60px;
}
.icon2{
    padding-left: 0;
    height: 36px;
    width: 40px;
}
.icon3{
    padding-left: 0;
    height: 40px;
    width: 60px;
}
.signin{
    text-align: center;
    font-size: 50px;
}
.input{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}
.button1{
    border-radius: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    margin: 0 auto;
    font-size: 26px;
    font-weight: bold;

}
.copyright{
    text-align: center;
    font-size: 16px;
}
.orderbutton{
    padding-left: 670px;
    padding-right: 670px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
}